@using Lemon_d.local.Models;
@using Lemon_d.local.Database;
@using Lemon_d.local.Database.DbModels;
@model ResultsViewModel;

@{
    Layout = "Frame";
    ViewData["Title"] = "Home";
}


<h1>RESULTS FOR KEYWORD "@Model.query"</h1>
<div class="divider" data-color="red"></div>
<div class="search-settings">
    <div class="search-settings__pagination">
        <button></button>
        <button></button>
    </div>
</div>
<div class="divider"></div>
<div class="result-list" data-query="@Model.query" data-sort="@{Model.Sort.ToString();}, @{Model.SortOrder.ToString();}">
    <div class="result-group">
        @foreach (var i in Model.projects)
        {
            <div class="search-result">

                @if (i.Images != null && i.Images.Count > 0)
                {
                    var cover = i.Images.First(i => i.Type == Lemon_d.local.Database.DbModels._AdditionalClasses.ImageType.Cover);
                    <div class="search-result__thumbnail">
                        <img src="@cover.URL" />
                    </div>
                }
                else
                {
                    <div class="search-result__thumbnail placeholder">
                        <i class="bi bi-controller"></i>
                    </div>
                }
                <div class="search-result__body">
                    <p class="title">@i.Name</p>
                    <div class="ratings">
                        <div class="ratings__global">
                            <p class="rating--value">@((int)i.GlobalRating)</p>
                            <p class="rating--footer">Global Rating</p>
                        </div>
                        <div class="ratings__personal">
                            <p class="rating--value">@(i.PersonalRating)</p>
                            <p class="rating--footer">Local Rating</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>